body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.header {
    background: rgb(111, 173, 253);
    text-align: center;
}

.copyright {
	background: #202020;
	bottom: 0;
	left: 0;
	width: 100%;
}

.items {
    padding: 12px;
}

a {
    color: #24FFFB;
    text-decoration: none;
}

a:hover {
    color: #009694;
    text-decoration: underline;
}

a:active {
    color: #090;
    text-decoration: underline;
}