@import url(https://elmichiyt.github.io/cdn/fonts/file.css);

body {
    background: #1f1f1f;
    color: #cccccc;
    font-family: 'Inter';
    margin: 1cm;
}

/* Link style */
a { color: #09f; text-decoration: none; }
a:hover { text-decoration: underline; }