body {
	background-color: #333;
	font-family: 'Inter';
	color: white;
	margin: 0;
	padding: 0;
}

.header {
    background: rgb(111, 173, 253);
}

.main { padding: 16px; }

a {
	color: #09f;
	text-decoration: none;
}

a:hover { text-decoration: underline; }
a:active { color: #0cf; text-decoration: underline; }